* * 3p-script block
# 2024-11-29
bandcamp.com bcbits.com * noop
microsoftonline.com omegacdn.net * noop
stackoverflow.com sstatic.net * noop
# 2024-11-24
dr.dk dr-massive.com * noop
# 2024-11-23
randompassphrasegenerator.com firebaseio.com * noop
# 2024-11-16
mailsac.com wpcomstaging.com * noop
ruff.rs jsdelivr.net * noop
# 2024-11-15
dropbox.com dropboxstatic.com * noop
# 2024-11-13
office.com static.microsoft * noop
# 2024-11-9
blogspot.com blogblog.com * noop
blogspot.com blogger.com * noop
# 2024-11-4
oracle.com oraclecloud.com * noop
# 2024-11-3
github.com githubusercontent.com * noop
# 2024-11-2
# amcplus.com
# office.com
* akamaiedge.net * noop
# 2024-11-1
# 3cat.cat
# residentportal.com
* cloudfront.net * noop
# 2024-11-1
3cat.cat edgetcdn.net * noop
3cat.cat youbora.com * noop
# 2024-10-27
fxnetworks.com go.com * noop
fxnetworks.com watchdisneyfe.com * noop
# 2024-10-21
dickssportinggoods.com demdex.net * noop
# 2024-10-19
# cwtv.com
# independent.co.uk
* googletagmanager.com * noop
# 2024-10-19
cwtv.com brightcove.net * noop
# 2024-10-18
# mashable.com
# reddit.com
* fastly.net * noop
# 2024-10-18
liveatlascolinasheights.com entrata.com * noop
mashable.com bsky.app * noop
# 2024-10-16
nbc.com nbcuni.com * noop
# 2024-10-13
kepala-pantas.xyz swagger.io * noop
target.com targetimg1.com * noop
# 2024-10-12
proxy-seller.com cloudflareinsights.com * noop
# 2024-10-12
# proxy-seller.com
# smartproxy.com
* paddle.com * noop
# 2024-10-10
bankofamerica.com bac-assets.com * noop
bankofamerica.com chicdn.net * noop
# 2024-10-9
flickr.com staticflickr.com * noop
# 2024-10-8
# encoding.com
# samsara.com
* readme.io * noop
* readmessl.com * noop
# 2024-10-8
atlassian.net atl-paas.net * noop
# 2024-10-6
mozilla.org mozit.cloud * noop
# 2024-9-4
github.com githubassets.com * noop
knowyourmeme.com llnwi.net * noop
# 2024-8-20
gophercon.com bizzabo.com * noop
# 2024-8-19
go.com abcnews.com * noop
go.com espncdn.com * noop
# 2024-8-16
eurogamer.net primis.tech * noop
eurogamer.net privacy-mgmt.com * noop
# 2024-8-10
terabox.app teraboxcdn.app * noop
# 2024-8-8
# apnews.com
# independent.co.uk
* jwplayer.com * noop
# 2024-8-8
independent.co.uk amazon-adsystem.com * noop
independent.co.uk pixels.ai * noop
# 2024-8-5
# mubi.com
# stripe.com
* stripecdn.com * noop
# 2024-8-4
ibm.com s81c.com * noop
# 2024-8-3
cnn.com cnn.io * noop
cnn.com turner.com * noop
# 2024-7-30
# olympics.com
# rtbf.be
* gigya.com * noop
# 2024-7-30
olympics.com theoplayer.com * noop
spotify.com scdn.co * noop
spotify.com spotifycdn.com * noop
# 2024-7-29
tv3.ee go3.tv * noop
# 2024-7-28
# amcplus.com
# pola.rs
* unpkg.com * noop
# 2024-7-28
nbcolympics.com nbcsports.com * noop
opbnbscan.com nodereal.io * noop
# 2024-7-27
paypal.com betacdn.net * noop
paypal.com paypalobjects.com * noop
tiktok.com tiktokcdn-us.com * noop
# 2024-7-27
# nbc.com
# nbcolympics.com
* adobe.com * noop
* adobe.io * noop
# 2024-7-27
# canalplus.cz
# canalplus.sk
* m7cdn.io * noop
# 2024-7-25
amcplus.com aspnetcdn.com * noop
amcplus.com v0cdn.net * noop
# 2024-7-24
swag.live bytepluscdn.com * noop
# 2024-7-18
# bbc.com
# doomscroller.xyz
* twitter.com * noop
# 2024-7-17
thetinypod.com framerusercontent.com * noop
# 2024-7-13
# apnews.com
# nbcnews.com
* jwpcdn.com * noop
# 2024-7-7
digitalocean.com taxamo.com * noop
knowyourmeme.com kym-cdn.com * noop
# 2024-7-4
medium.com github.com * noop
# 2024-6-29
# microsoft.com
# nbcolympics.com
* akamai.net * noop
# 2024-6-29
nbcolympics.com nbc.co * noop
# 2024-6-28
microsoft.com powerapps.com * noop
# 2024-6-27
speedtest.net cdnst.net * noop
# 2024-6-18
# nbc.com
# tomthumb.com
* adobedtm.com * noop
# 2024-6-18
# nbc.com
# tomthumb.com
* cookielaw.org * noop
# 2024-6-16
max.com spreedly.com * noop
# 2024-6-8
# amazon.com
# max.com
* arkoselabs.com * noop
# 2024-6-7
amazon.com awswaf.com * noop
# 2024-5-31
# discord.com
# r-u-human.com
* hcaptcha.com * noop
# 2024-5-28
# privateproxy.me
# roku.com
* recaptcha.net * noop
# 2024-5-25
# google.com
# jsonformatter.org
* googleapis.com * noop
# 2024-5-24
bankofamerica.com bac.com * noop
# 2024-5-20
globo.com cloud.globo * noop
globo.com glbimg.com * noop
# 2024-5-18
# criterionchannel.com
# dropout.tv
* vhx.tv * noop
# 2024-5-17
# twitter.com
# x.com
* twimg.com * noop
# 2024-5-14
# stan.com.au
# windscribe.com
* stripe.com * noop
# 2024-5-14
hide.me cleverbridge.com * noop
microsoft.com dual-s-msedge.net * noop
# 2024-5-11
# myaccount.energy
# rssnews.media
* bootstrapcdn.com * noop
# 2024-5-11
# esa.int
# rssnews.media
* jquery.com * noop
# 2024-5-11
sooner.nl kaltura.com * noop
# 2024-5-10
koimoi.com akamaized.net * noop
# 2024-5-5
# knowyourmeme.com
# urbanismspeakeasy.com
* youtube-nocookie.com * noop
# 2024-5-4
mozilla.org mozgcp.net * noop
# 2024-4-25
microsoft.com fb-t-msedge.net * noop
prontoforms.com wistia.com * noop
# 2024-4-23
vidio.com vidiocdn.com * noop
# 2024-4-21
neontv.co.nz evergent.com * noop
# 2024-4-19
facebook.com fbcdn.net * noop
# 2024-4-18
t.me telegram.org * noop
# 2024-4-14
ivi.tv ivi.ru * noop
# 2024-4-11
tripointehomes.com calltrk.com * noop
# 2024-4-10
# opensource.google
# youtube.com
* google.com * noop
# 2024-4-9
# android.com
# google.com
* gstatic.com * noop
# 2024-4-9
# android.com
# luckyme.net
* youtube.com * noop
# 2024-4-7
# independent.co.uk
# themirror.com
* ampproject.org * noop
# 2024-4-4
# crystal-lang.org
# grafana.com
* discourse-cdn.com * noop
# 2024-4-3
microsoft.com akamaitech.net * noop
# 2024-3-24
# criterionchannel.com
# thefall.film
* cloudflare.net * noop
# 2024-3-24
sling.com movetv.com * noop
# 2024-3-23
disneyplus.com disney-plus.net * noop
# 2024-3-22
thefall.film vimeo.com * noop
# 2024-3-20
scribd.com scribdassets.com * noop
# 2024-3-19
artvee.com digitaloceanspaces.com * noop
# 2024-3-18
amazon.com ssl-images-amazon.com * noop
luckyme.net cargo.site * noop
salesforce.com sfdcstatic.com * noop
# 2024-3-14
# microsoft.com
# microsoftonline.com
* msftauth.net * noop
# 2024-3-14
# linkedin.com
# microsoft.com
* t-msedge.net * noop
# 2024-3-13
# instagram.com
# variety.com
* cdninstagram.com * noop
# 2024-3-4
bytesizego.com podia.com * noop
# 2024-2-20
apple.com cdn-apple.com * noop
force.com salesforce.com * noop
samsara.com localizecdn.com * noop
# 2024-2-18
mubi.com mubicdn.net * noop
# 2024-2-13
reddit.com redditstatic.com * noop
# 2024-2-12
# office.com
# sharepoint.com
* sigmacdn.net * noop
# 2024-1-31
aetv.com aetnd.com * noop
# 2024-1-27
# amazon.com
# imdb.com
* media-amazon.com * noop
# 2024-1-26
# gitlab.com
# stackexchange.com
* cloudflare.com * noop
# 2024-1-25
spectrum.net amazonaws.com * noop
# 2024-1-15
abyss.to abysscdn.com * noop
aus.social b-cdn.net * noop
bswhealth.com mybswhealth.com * noop
# 2024-1-13
apnews.com brightspot.cloud * noop
# 2024-1-13
# stashapp.cc
# vimeo.com
* vimeocdn.com * noop
# 2024-1-11
mozilla.org mozilla.net * noop
# 2024-1-7
josebriones.org pory.io * noop
# 2024-1-6
# avclub.com
# kotaku.com
* kinja-static.com * noop
# 2023-12-31
# hulu.com
# pluto.tv
* tiqcdn.com * noop
# 2023-12-27
# microsoft.com
# office.com
* office.net * noop
# 2023-12-26
theverge.com documentcloud.org * noop
# 2023-12-20
privacy.com zdassets.com * noop
# 2023-12-15
# factmag.com
# soundcloud.com
* sndcdn.com * noop
# 2023-12-11
# the-express.com
# walesonline.co.uk
* quantcast.com * noop
# 2023-12-11
dzen.ru dzeninfra.ru * noop
the-express.com inmobi.com * noop
# 2023-12-8
cc.com paramount.com * noop
