/*
==userstyle==
@name Lobsters
@namespace 3052
@version 2023-11-26
==/userstyle==
*/
@-moz-document domain("lobste.rs") {
   /* 2023-10-15 */
   .comments1 > .comments_subtree > .comments >
   .comments_subtree > .comment > .voters {
      background: blue
   }
   .comments1 > .comments_subtree > .comments >
   .comments_subtree > .comments >
   .comments_subtree > .comment > .voters {
      background: green
   }
   .comments1 > .comments_subtree > .comments >
   .comments_subtree > .comments >
   .comments_subtree > .comments >
   .comments_subtree > .comment > .voters {
      background: orange
   }
   .comments1 > .comments_subtree > .comments >
   .comments_subtree > .comment > .voters > .score,
   .comments1 > .comments_subtree > .comments >
   .comments_subtree > .comments >
   .comments_subtree > .comment > .voters > .score,
   .comments1 > .comments_subtree > .comments >
   .comments_subtree > .comments >
   .comments_subtree > .comments >
   .comments_subtree > .comment > .voters > .score {
      color: white
   }
   /* 2023-10-14 */
   :visited {
      color: hsl(270 100% 50%) !important
   }
}
