<!DOCTYPE html>
<html>
<head>
    <title>Go Package Documentation</title>
</head>
<body>
    <h1>Package {{.Name}}</h1>
    <p>{{.Doc}}</p>

    {{template "functions.tmpl" .Functions}}
    {{template "types.tmpl" .Types}}
</body>
</html>
