<!DOCTYPE html>
<html>
<head>
    <title>Documentation for {{.Name}}</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Package {{.Name}}</h1>
    <div class="doc">
        <pre>{{.Doc}}</pre>
    </div>

    <h2>Index</h2>
    <ul>
        {{if .Constants}}<li><a href="#constants">Constants</a></li>{{end}}
        {{if .Variables}}<li><a href="#variables">Variables</a></li>{{end}}
        {{if .Functions}}<li><a href="#functions">Functions</a></li>{{end}}
        {{if .Types}}
        <li><a href="#types">Types</a>
            <ul>
                {{range .Types}}
                <li><a href="#{{.Name}}">{{.Name}}</a></li>
                {{end}}
            </ul>
        </li>
        {{end}}
    </ul>

    {{if .Constants}}
    <h2 id="constants">Constants</h2>
    {{range .Constants}}
        <pre>{{.Definition}}</pre>
        <div class="doc"><p>{{.Doc}}</p></div>
    {{end}}
    {{end}}

    {{if .Variables}}
    <h2 id="variables">Variables</h2>
    {{range .Variables}}
        <pre>{{.Definition}}</pre>
        <div class="doc"><p>{{.Doc}}</p></div>
    {{end}}
    {{end}}

    {{if .Functions}}
    <h2 id="functions">Functions</h2>
    {{range .Functions}}
        <pre>{{.Signature}}</pre>
        <div class="doc"><p>{{.Doc}}</p></div>
    {{end}}
    {{end}}

    {{if .Types}}
    <h2 id="types">Types</h2>
    {{range .Types}}
        <h3 id="{{.Name}}">type {{.Name}}</h3>
        <div class="doc"><p>{{.Doc}}</p></div>
        <pre>{{.Definition}}</pre>

        {{if .Methods}}
            <h4>Methods</h4>
            {{range .Methods}}
                <pre>{{.Signature}}</pre>
                <div class="doc"><p>{{.Doc}}</p></div>
            {{end}}
        {{end}}
    {{end}}
    {{end}}
</body>
</html>
