# 2024-01-31
youtube.com###video-preview
youtube.com##.ytp-chrome-top
# cannot do these:
# youtube.com##tp-yt-paper-dialog
# youtube.com##ytd-popup-container
# 2023-11-09
youtube.com##yt-mealbar-promo-renderer
# 2023-10-29
washingtonpost.com###wall-bottom-drawer
# 2023-10-28
wired.com##[class*="PersistentBottomWrapper"]
# 2023-09-24
newyorker.com##[class*="PaywallBarWrapper"]
# 2023-08-23
youtube.com##.ytd-rich-shelf-renderer
# 2023-08-19
youtube.com##[is-shorts]
github.com##.dashboard-changelog 
# 2023-06-12
nytimes.com###gateway-content
nytimes.com##.expanded-dock
# 2023-06-04
github.com##.code-navigation-cursor
# 2023-05-26
###credential_picker_container
# 2023-04-30
aeon.co##[class^="Banner_"]
aeon.co##[class^="NewsletterPopup_"]
# 2023-03-24
youtube.com###big-yoodle
# 2023-03-14
justwatch.com##.sponsored-recommendation
youtube.com##.ytp-player-content
# 2023-02-05
vogue.com##[data-journey-hook="persistent-bottom"]
