/*
==userstyle==
@version 2023.04.30
@namespace Steven
@name GitHub
==/userstyle==
*/
@-moz-document domain("github.com") {
   /*
   2023-06-17
   github.com/ziglang/zig/blob/master/build.zig
   */
   .pl-v {
      color: var(--color-fg-default)
   }
   /*
   2023-05-13
   github.com/ME/umber/blob/main/umber.go
   */
   #read-only-cursor-text-area {
      font-size: 1em !important
   }
   /*
   2023-05-11
   github.com/ME
   */
   .Layout {
      --Layout-sidebar-width: 260px
   }
   .ContributionCalendar-day[data-level="1"] {
      background: hsl(210, 100%, 80%) !important
   }
   .ContributionCalendar-day[data-level="2"] {
      background: hsl(100, 70%, 60%) !important
   }
   .ContributionCalendar-day[data-level="3"] {
      background: hsl(50, 80%, 60%) !important
   }
   .ContributionCalendar-day[data-level="4"] {
      background: hsl(10, 80%, 50%) !important
   }
   .ContributionCalendar-day[data-level="1"] {
      fill: hsl(210, 100%, 80%) !important
   }
   .ContributionCalendar-day[data-level="2"] {
      fill: hsl(100, 70%, 60%) !important
   }
   .ContributionCalendar-day[data-level="3"] {
      fill: hsl(50, 80%, 60%) !important
   }
   .ContributionCalendar-day[data-level="4"] {
      fill: hsl(10, 80%, 50%) !important
   }
   .position-sticky,
   .user-profile-sticky-bar {
      position: static !important
   }
   /*
   2023-05-11
   github.com/ME/umber
   */
   .markdown-body {
      font-family: Arial !important
   }
   /*
   2023-05-11
   github.com/ME/umber/blob/main/umber.go
   */
   [font-family="normal"],
   body {
      font-family: Arial !important
   }
   .react-code-text {
      font-size: 1em !important
   }
   /*
   2023-05-11
   github.com/rlaphoenix/pywidevine/issues/26
   */
   .is-stuck + .gh-header-shadow {
      position: static !important
   }
}
