<!DOCTYPE html>
<html>
<head>
    <title>Documentation for {{.Name}}</title>
    {{if and .ImportPath .VCS .RepositoryURL}}
    <meta name="go-import" content="{{.ImportPath}} {{.VCS}} {{.RepositoryURL}}">
    {{end}}
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>
        Package {{.Name}}
        {{if .Version}}
            <span class="version-info">({{.Version}})</span>
        {{end}}
        {{if .RepositoryURL}}
            <span class="repository-link">[<a href="{{.RepositoryURL}}" target="_blank" rel="noopener">repository</a>]</span>
        {{end}}
    </h1>
    {{if .Doc}}
    <div class="doc">
        <pre>{{.Doc}}</pre>
    </div>
    {{end}}

    <h2>Index</h2>
    <ul>
        {{if .Constants}}<li><a href="#constants">Constants</a></li>{{end}}
        {{if .Variables}}<li><a href="#variables">Variables</a></li>{{end}}
        {{if .Functions}}<li><a href="#functions">Functions</a></li>{{end}}
        {{if .Types}}
        <li><a href="#types">Types</a>
            <ul>
                {{range .Types}}
                <li><a href="#{{.Name}}">{{.Name}}</a></li>
                {{end}}
            </ul>
        </li>
        {{end}}
    </ul>

    {{if .Constants}}
    <h2 id="constants">Constants</h2>
    {{range .Constants}}
        <pre>{{.Definition}}</pre>
        {{if .Doc}}<div class="doc"><p>{{.Doc}}</p></div>{{end}}
    {{end}}
    {{end}}

    {{if .Variables}}
    <h2 id="variables">Variables</h2>
    {{range .Variables}}
        <pre>{{.Definition}}</pre>
        {{if .Doc}}<div class="doc"><p>{{.Doc}}</p></div>{{end}}
    {{end}}
    {{end}}

    {{if .Functions}}
    <h2 id="functions">Functions</h2>
    {{range .Functions}}
        <pre>{{.Signature}}</pre>
        {{if .Doc}}<div class="doc"><p>{{.Doc}}</p></div>{{end}}
    {{end}}
    {{end}}

    {{if .Types}}
    <h2 id="types">Types</h2>
    {{range .Types}}
        <h3 id="{{.Name}}">type {{.Name}}</h3>
        {{if .Doc}}<div class="doc"><p>{{.Doc}}</p></div>{{end}}
        <pre>{{.Definition}}</pre>

        {{if .Methods}}
            <h4>Methods</h4>
            {{range .Methods}}
                <pre>{{.Signature}}</pre>
                {{if .Doc}}<div class="doc"><p>{{.Doc}}</p></div>{{end}}
            {{end}}
        {{end}}
    {{end}}
    {{end}}
</body>
</html>
